<!-- Container for the Three.js canvas, taking up the entire viewport -->
<div class="h-[100%] w-[100%] top-0 left-0 fixed z-[-1]" id="container"></div>

<script>
    import Sketch from "./Sketch";

    document.addEventListener("astro:page-load", () => {
        new Sketch({ 
            domElement: document.getElementById("container"),
        }, [
            "/svgs/spring.svg",
            "/svgs/astro_dark.svg",
            "/svgs/react_dark.svg",
            "/svgs/golang.svg",
            "/svgs/javascript.svg",
            "/svgs/typescript.svg",
            "/svgs/java.svg"
        ]);
    });
</script>