<!-- Container for the Three.js canvas, taking up the entire viewport -->
<div id="container" class="w-full h-full m-0 p-0 overflow-hidden">
</div>

<script>
    import Sketch from "./Sketch";

    document.addEventListener("astro:page-load", () => {
        new Sketch({ 
            domElement: document.getElementById("container"),
        }, [
            "/svgs/spring.svg",
            "/svgs/astro_dark.svg",
            "/svgs/react_dark.svg",
            "/svgs/golang.svg",
            "/svgs/javascript.svg",
            "/svgs/typescript.svg",
            "/svgs/java.svg"
        ]);
    });
</script>