---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="JoaquinGG's Profile">
	<main>
		<AboutMe />
	</main>
	<div id="#projects">
		
	</div>
	<div id="#experience">
		
	</div>
	<div id="#studies">
		
	</div>
</Layout>

<style>

</style>