---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="JoaquinGG's Profile">
	<main class="animate-fade-down animate-once animate-ease-linear">
		<AboutMe />
	</main>
	<div id="#projects">
		<!-- <Projects/> -->
	</div>
	<div id="#experience">
		
	</div>
	<div id="#studies">
		
	</div>
</Layout>

<style>

</style>