---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMeSection.astro";
import Projects from "../components/ProjectsSection.astro";
import Career from "../components/CareerSection.astro";
import Footer from "../components/Footer.astro";
import SpeadInsights from "@vercel/speed-insights/astro";
---

<Layout title="Joaquin Genova's Porfolio">
    <SpeadInsights />
    <main id="about-me" class="animate-fade-down animate-once animate-ease-linear mb-24">
        <AboutMe />
    </main>
    <div id="projects" class="mb-24">
        <Projects/>
    </div>
    <div id="career">
        <Career />
    </div>

    <Footer />
</Layout>

<style>

</style>
