---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import SpeadInsights from "@vercel/speed-insights/astro";
---

<Layout title="Joaquin Genova's Porfolio">
    <SpeadInsights />
    <main class="animate-fade-down animate-once animate-ease-linear mb-40">
        <AboutMe />
    </main>
    <div id="#projects" class="animate-fade-down animate-once animate-ease-linear">
        <Projects/>
    </div>
    <div id="#experience"></div>
    <div id="#studies"></div>

    <footer>
        <div class="flex justify-center items-center gap-2 h-20">
            <p class="font-extrabold text-white font-mono">Joaquin Genova - 2024</p>
            <svg class="w-5" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                <path d="M6 9h4" />
                <path d="M8 9v6" />
                <path d="M13 15v-6l2 3l2 -3v6" />
            </svg>
        </div>
    </footer>
</Layout>

<style>

</style>
