---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMeSection.astro";
import Projects from "../sections/ProjectsSection.astro";
import Career from "../sections/CareerSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <section id="about-me" data-section="about-me" class="scroll-m-20">
        <main  class="animate-fade-down animate-once animate-ease-linear mb-24">
            <AboutMe />
        </main>
    </section>
    <section id="projects" data-section="projecs" class="mb-24" class="scroll-m-20">
        <Projects/>
    </section>
    <section id="career" data-section="career" class="scroll-m-20">
        <Career />
    </section>
    <Footer />
</Layout>

<style>

</style>
