---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import navItems from "../jsons/moreInfo_sections.json";
import Certifications from "../sections/Certifications.astro";
import TechIconsSVGs from "../components/threejs/TechIconsSVGs.astro";
---

<Layout title="Porfolio de Joaquin G." navItems={navItems} indexed header>
    <section id="certifications" data-section="certifications" class="scroll-m-20 font-serif">
        <Certifications/>
    </section>
    <Footer />
    <TechIconsSVGs />
</Layout>