---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro"
import certifications from "./moreInfo_sections.json"
---

<Layout title="Certificaciones" navItems={certifications} indexed header>
    
    <!-- TODO: Optimizar todas las imagenes y que sean mas chicas -->
    <div id="certification-modal" 
        tabindex="-1" 
        aria-hidden="true" 
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-[calc(100%-1rem)] max-h-full backdrop-blur-sm">
        
        <div id='modal-content' class="flex justify-center items-center rounded-lg shadow-lg p-4 w-full h-full">
            
        </div>
    </div>

    <section id="certifications" data-section="certifications" class="scroll-m-20">
        <div class="flex flex-row gap-2 justify-center items-center text-3xl font-bold text-center mb-4 text-white">
            <h1 class="text-5xl font-bold text-center">Mis Certificaciones</h1>
            <svg class="w-12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M19.496 13.983l1.966 3.406a1.001 1.001 0 0 1 -.705 1.488l-.113 .011l-.112 -.001l-2.933 -.19l-1.303 2.636a1.001 1.001 0 0 1 -1.608 .26l-.082 -.094l-.072 -.11l-1.968 -3.407a8.994 8.994 0 0 0 6.93 -3.999z" stroke-width="0" fill="currentColor" />
                <path d="M11.43 17.982l-1.966 3.408a1.001 1.001 0 0 1 -1.622 .157l-.076 -.1l-.064 -.114l-1.304 -2.635l-2.931 .19a1.001 1.001 0 0 1 -1.022 -1.29l.04 -.107l.05 -.1l1.968 -3.409a8.994 8.994 0 0 0 6.927 4.001z" stroke-width="0" fill="currentColor" />
                <path d="M12 2l.24 .004a7 7 0 0 1 6.76 6.996l-.003 .193l-.007 .192l-.018 .245l-.026 .242l-.024 .178a6.985 6.985 0 0 1 -.317 1.268l-.116 .308l-.153 .348a7.001 7.001 0 0 1 -12.688 -.028l-.13 -.297l-.052 -.133l-.08 -.217l-.095 -.294a6.96 6.96 0 0 1 -.093 -.344l-.06 -.271l-.049 -.271l-.02 -.139l-.039 -.323l-.024 -.365l-.006 -.292a7 7 0 0 1 6.76 -6.996l.24 -.004z" stroke-width="0" fill="currentColor" />
            </svg>
        </div>

        <p class="text-white text-xl text-center font-serif text-pretty my-3">
            Estas son las certificaciones que he obtenido a lo largo de mi carrera profesional.
            Empiezo con las certificaciones de Salesforce, ya que son las m치s recientes y las que m치s me han costado obtener. 
            La primera que obtuve fue la de <span class="font-bold underline shadow-border">Plataform Developer I</span> y 
            mas adelante con mas experiencia obtuve la certificaci칩n de 
            <span class="font-bold underline shadow-border">JavaScripts Developer I</span>.
        </p>

        <div class="max-lg:hidden flex flex-col items-center justify-center mb-10 gap-2">
            <div class="max-lg:hidden">
                <div class="grid grid-cols-2">
                    <img class="certification-img aspect-video" src="/images/certis/Cert3214468_PlatformDeveloperI_20230414-1.png">
                    <img class="certification-img aspect-video" src="/images/certis/Cert3997879_JavaScriptDeveloperI_20231230-1.png">
                </div>
                <div class="grid grid-cols-3">
                    <img class="certification-img aspect-auto" src="/images/certis/Certificado IBM PY0101EN _ edX-1.png">
                    <img class="certification-img aspect-auto" src="/images/certis/Certificado IBM DS0105EN _ edX-1.png">
                    <img class="certification-img aspect-auto" src="/images/certis/Certificado IBM DL0101EN _ edX-1.png">
                </div>
                <div class="grid grid-cols-2">
                    <img class="certification-img aspect-auto" src="/images/certis/Certificado LinuxFoundationX LFS158x _ edX-1.png">
                    <img class="certification-img aspect-auto" src="/images/certis/Certificado LinuxFoundationX LFS167x _ edX-1.png">
                </div>
                <div class="grid grid-cols-4">
                    <img class="certification-img aspect-auto" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-CISCO-NETAC-certificate (1)-1.png">
                    <img class="certification-img aspect-auto" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-Cisco-NetAc-certificate (3)-1.png">
                    <img class="certification-img aspect-auto" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-Cisco-NetAc-certificate-1.png">
                    <img class="certification-img aspect-auto" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-CISCO-NETAC-certificate (2)-1.png">
                </div>
            </div>
        </div>

        <div class="lg:hidden">
            <div>
                <div class="carousel">
                    <img class="carousel-item hidden" src="/images/certis/Cert3214468_PlatformDeveloperI_20230414-1.png">
                    <img class="carousel-item hidden" src="/images/certis/Cert3997879_JavaScriptDeveloperI_20231230-1.png">
                    <img class="carousel-item hidden" src="/images/certis/Certificado IBM PY0101EN _ edX-1.png">
                    <img class="carousel-item hidden" src="/images/certis/Certificado IBM DS0105EN _ edX-1.png">
                    <img class="carousel-item hidden" src="/images/certis/Certificado IBM DL0101EN _ edX-1.png">
                    <img class="carousel-item hidden" src="/images/certis/Certificado LinuxFoundationX LFS158x _ edX-1.png">
                    <img class="carousel-item hidden" src="/images/certis/Certificado LinuxFoundationX LFS167x _ edX-1.png">
                    <img class="carousel-item hidden" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-CISCO-NETAC-certificate (1)-1.png">
                    <img class="carousel-item hidden" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-Cisco-NetAc-certificate (3)-1.png">
                    <img class="carousel-item hidden" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-Cisco-NetAc-certificate-1.png">
                    <img class="carousel-item hidden" src="/images/certis/JOAQUINGENOVA GUERENDIA-UTEC-CISCO-NETAC-certificate (2)-1.png">
                </div>
                <div class="flex flex-row justify-center items-center gap-2 mt-2">
                    <button class="carousel-prev bg-blue-500 text-white p-2 rounded-lg">Anterior</button>
                    <button class="carousel-next bg-blue-500 text-white p-2 rounded-lg">Siguiente</button>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</Layout>

<script>
    document.addEventListener('astro:page-load', () => {
        const openImage = (img) => {
            const modal = document.querySelector("#certification-modal");

            if(!modal) return;

            const imgItem = document.createElement("img");
            imgItem.src = img.target.src;
            imgItem.alt = "Certificaci칩n";
            imgItem.classList.add("max-w-[95%]", "max-h-[95%]", "rounded-lg");

            const modalContent = modal.querySelector("#modal-content");
            if(!modalContent) return;
            modalContent.innerHTML = "";
            modalContent.appendChild(imgItem);

            modal.classList.remove("hidden");
        } 

        // Add event listener to the modal
        document.querySelector("#certification-modal")?.addEventListener("click", () => {
            document.querySelector("#certification-modal")?.classList.add("hidden");
        });
        
        // Add event listener to all certification images
        document.querySelectorAll(".certification-img")?.forEach((img) => img.addEventListener("click", openImage));

        // Carousel for mobile
        const carouselItems = document.querySelectorAll(".carousel-item");
        carouselItems?.forEach((img) => img.addEventListener("click", openImage));
        carouselItems[1].classList.remove("hidden");
        
        const carousel = document.querySelector(".carousel");

        // Detect Swipe with Touch and Mouse
        let xDown = null;
        let yDown = null;

        function handleTouchStart(evt) {
            xDown = evt.touches[0]?.clientX;
            yDown = evt.touches[0]?.clientY;
        };

        function handleTouchMove(evt) {
            if (!xDown || !yDown) {
                return;
            }

            let xUp = evt.touches[0].clientX;
            let yUp = evt.touches[0].clientY;

            let xDiff = xDown - xUp;
            let yDiff = yDown - yUp;

            if (Math.abs(xDiff) > Math.abs(yDiff)) {
                if (xDiff > 0) {
                    // Left Swipe
                    carouselItems[current].classList.add("hidden");
                    current = (current + 1) % carouselItems.length;
                    carouselItems[current].classList.remove("hidden");
                } else {
                    // Right Swipe
                    carouselItems[current].classList.add("hidden");
                    current = (current - 1 + carouselItems.length) % carouselItems.length;
                    carouselItems[current].classList.remove("hidden");
                }
            }

            xDown = null;
            yDown = null;
        };

        carousel.addEventListener("touchstart", handleTouchStart, false);
        carousel.addEventListener("touchmove", handleTouchMove, false);
        carousel.addEventListener("mousedown", handleTouchStart, false);
        carousel.addEventListener("mouseup", handleTouchMove, false);

        let current = 0;
        document.querySelector(".carousel-next").addEventListener("click", () => {
            carouselItems[current].classList.add("hidden");
            current = (current + 1) % carouselItems.length;
            carouselItems[current].classList.remove("hidden");
            console.log(current);
        });

        document.querySelector(".carousel-prev").addEventListener("click", () => {
            carouselItems[current].classList.add("hidden");
            current = (current - 1 + carouselItems.length) % carouselItems.length;
            carouselItems[current].classList.remove("hidden");
            console.log(current);
        });
    });

</script>

<style>
    .certification-img {
        @apply rounded-md;
        padding: 3px;
    }

    .certification-img:hover {
        filter: drop-shadow(0 0 5px #3ca2eb); 
        transition: all 0.3s;
        scale: 1.03;
    }

    .carousel {
        @apply flex flex-row gap-2 justify-center items-center rounded-md max-w-max overflow-x-hidden;
    }

    .carousel-item hidden {
        @apply aspect-video transition-all duration-300;
    }

    /* .shadow-border {
        filter: drop-shadow(0 0 5px rgb(60, 162, 235)); 
        transition: color 0.3s;
    }

    .shadow-border:hover {
        filter: drop-shadow(0 0 5px rgb(235, 139, 60)); 
        transition: color 0.3s;
    } */
</style>