---
import SVGs from "../components/threejs/SVGs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Icons DVD" header={false} indexed={false} navItems={[]}>
    <section class="bg-lightblack h-[80dvh] w-[80dvw] min-w-64 min-h-64 flex justify-center items-center">
        <SVGs />
    </section>
</Layout>

