---
import TechIcons from '../components/TechIcons.astro';
---

<section id="#about-me" class="font-custom mb-40">
    <h2 class="text-5xl font-bold text-center mt-5 mb-4 text-white font-custom">Sobre mi</h2>
    <div class="flex flex-col-reverse items-center justify-center mb-5 gap-2 xl:flex-row">
        <div class="flex flex-col gap-3 text-xl 2xl:text-2xl text-white text-center text-balance xl:text-left">
            <p >
                Soy una persona <span class="underline"><span class="font-bold shadow-border">responsable</span>, <span class="font-bold shadow-border">comprometida</span>, <span class="font-bold shadow-border">ordenada</span></span> y detallista a la hora de trabajar de forma grupal o individual. Aprendo rápidamente y mejoro mis habilidades de manera proactiva y constante. 
                Siempre estoy en busca de desafios con entusiasmo y ganas de aprender para mejorar profesional y personalmente.</p>
            <p>
                Actualmente estoy estudiando una <span class="font-bold underline shadow-border">Licenciatura en TI</span> en la Universidad Tecnológica del Uruguay (UTEC), 
                y a su vez, mejorando mis conocimientos de manera <span class="font-bold underline shadow-border">autodidacta</span> mediante cursos online, con documentación oficial y proyectos personales. 
                Centrando mis estudios en el desarrollo <span class="font-bold underline shadow-border">Full-Stack</span> en lenguajes como <span class="underline"><span class="font-bold shadow-border">Java</span>, <span class="font-bold shadow-border">Go</span>, <span class="font-bold shadow-border">JavaScript</span></span> y bases de datos con <span class="font-bold underline shadow-border">SQL</span>. 
                También me interesa el área de infraestructura, Linux, IA, entre otras.
            </p>
        </div>
        <img src="/photo.webp" class="rounded-full max-w-xs lg:max-w-md mb-5">
    </div>
    <TechIcons/>
</section>

<style>
    .shadow-border {
        filter: drop-shadow(0 0 5px #3ca2eb); 
        transition: color 0.3s;
    }
    .shadow-border:hover {
        filter: drop-shadow(0 0 5px #eb8b3c); 
        transition: color 0.3s;
    }
</style>
