---
import TechIcons from '../components/TechIcons.astro';
---

<div id="#about-me" class="font-custom">
    <h2 class="text-5xl font-bold text-center mt-5 mb-4 text-white font-custom">Sobre mi</h2>
    <div class="flex flex-col-reverse items-center justify-center mb-5 2xl:flex-row gap-2">
        <div class="flex flex-col gap-3 text-lg md:text-2xl text-white text-center lg:text-left">
            <p>
                Soy una persona <span class="underline"><span class="font-bold">responsable</span>, <span class="font-bold">comprometida</span>, <span class="font-bold">ordenada</span></span> y detallista a la hora de trabajar de forma grupal o individual. Aprendo rápidamente y mejoro mis habilidades de manera proactiva y constante. 
                Siempre estoy en busca de desafios con entusiasmo y ganas de aprender para mejorar profesional y personalmente.</p>
            <p>
                Actualmente estoy estudiando una <span class="font-bold underline">Licenciatura en TI</span> en la Universidad Tecnológica del Uruguay (UTEC), 
                y a su vez, mejorando mis conocimientos de manera <span class="font-bold underline">autodidacta</span> mediante cursos online, con documentación oficial y proyectos personales. 
                Centrando mis estudios en el desarrollo <span class="font-bold underline">Full-Stack</span> en lenguajes como <span class="font-bold underline">Java, Go, JavaScript</span> y bases de datos con <span class="font-bold underline">SQL</span>. 
                Además, también me interesa el área de infraestructura, Linux, IA, entre otras.</p>
            <p>
                Estoy emocionado de usar mis habilidades y experiencia para hacer un
                impacto positivo en el mundo.
            </p>
        </div>
        <img src="/public/photo.webp" class="rounded-full max-w-lg mb-5">
    </div>
    <TechIcons/>
</div>

<style>
</style>
