---

---

<div id="#about-me">
    <h2 class="text-3xl font-bold text-center mb-2 text-gray-900">About Me</h2>
    <div class="flex flex-row gap-1">
        <div class="ml-10 mr-2 flex flex-col gap-2 text-left">
            <p>
                Soy una persona responsable, comprometida, ordenada y detallista a la hora de trabajar, tanto en equipo como en forma individual. Aprendo e incorporar conocimientos rápidamente y así mejorar mis habilidades de manera proactiva y constante. Siempre en busca de nuevas y desafiantes experiencias con entusiasmo, ganas de aprender para mejorar tanto en lo profesional como personal. </p>
            <p>
                Actualmente estoy estudiando una Licenciatura en TI en la Universidad Tecnológica del Uruguay (UTEC), y a su vez, mejorando mis conocimientos de manera autónoma mediante cursos online, con documentación oficial y proyectos personales. Centrando mis estudios en el desarrollo Backend en lenguajes como Java, Go, JavaScript y bases de datos con SQL. Además, también me interesa el área de infraestructura, manejando servidores Linux: Debian/Ubuntu o CentOS, y también networking. </p>
            <p>
                Soy un jugador de equipo y me encanta colaborar con otros para crear
                productos increíbles. También soy un aprendiz autodidacta y siempre
                estoy buscando nuevas formas de mejorar mis habilidades.
            </p>
            <p>
                En mi tiempo libre, disfruto de [Aficiones] y [Aficiones]. También
                soy un gran defensor de [Causa] y participo activamente en mi
                comunidad.
            </p>
            <p>
                Estoy emocionado de usar mis habilidades y experiencia para hacer un
                impacto positivo en el mundo.
            </p>
        </div>
    </div>
</div>
