---
interface Props {
    month: string;
    from: string;
    name: string
}

const { month, from, name } = Astro.props;
---

<article class="ml-7 flex flex-col justify-center lg:justify-start text-white text-center lg:text-right mb-10">
    <div class="font-bold text-lg text-center lg:text-right">{month}</div>
    <div class="colors">
        <div class="flex flex-col mb-2 lg:flex-row lg:gap-2 items-center justify-center lg:justify-end">
            <h2 class="text-lg lg:text-2xl">
                {name}
            </h2>
            <h3 class="text-sm">{from}</h3>
            <div class="hidden lg:block"><slot name="icon"/></div>
        </div>
        <slot name="description"/>
    </div>
</article>

<style>
    .colors:hover {
        filter: drop-shadow(0 0 5px #f70404); 
        transition: color 0.3s;
    }
</style>