<header role="banner" aria-label="Encabezado del porfolio" class="text-white w-full text-center pt-4 px-5 font-serif">
    <h1 class="text-4xl mb-2 font-bold">Porfolio de Joaquin Genova</h1>
    <h2 class="text-md sm:text-xl">
        <strong>Licenciado en TI & Salesforce Developer (x4 Certified)</strong>
    </h2>
</header>