---

---

<header
    class="sticky top-3 py-4 px-4 max-w-full lg:py-8 flex flex-col justify-between items-center shadow-md m-3 rounded mb-10"
>
    <h1 class="mr-5 mb-2 text-3xl">Joaquin Genova G.</h1>
    <nav class="flex flex-row gap-2 justify-start items-start text-black">
        <a href="#about-me"
            class="flex flex-row gap-1 items-center hover:bg-orange-300 p-2 rounded"
            >About Me
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
                ></path>
                <path d="M12 9h.01"></path>
                <path d="M11 12h1v4h1"></path>
            </svg>
        </a>
        <span class="p-2">|</span>
        <a href="#projects"
            class="flex flex-row items-center gap-1 hover:bg-orange-300 p-2 rounded"
            >Proyectos
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M7 4a2 2 0 0 0 -2 2v3a2 3 0 0 1 -2 3a2 3 0 0 1 2 3v3a2 2 0 0 0 2 2"
                ></path>
                <path
                    d="M17 4a2 2 0 0 1 2 2v3a2 3 0 0 0 2 3a2 3 0 0 0 -2 3v3a2 2 0 0 1 -2 2"
                ></path>
            </svg>
        </a>
        <span class="p-2">|</span>
        <a href="#experience"
            class="flex flex-row items-center gap-1 hover:bg-orange-300 p-2 rounded"
            >Experiencia
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 19l18 0"></path>
                <path
                    d="M5 6m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z"
                ></path>
            </svg>
        </a>
        <span class="p-2">|</span>
        <a href="#studies"
            class="flex flex-row items-center gap-1 hover:bg-orange-300 p-2 rounded"
            >Estudios
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
            </svg>
        </a>
    </nav>
</header>

<style>
    @font-face {
        font-family: "Anta";
        src: url("/public/Anta-Regular.ttf");
    }

    header {
        font-family: "Anta", sans-serif;
        border-radius: 53px;
        background: #fed7aa;
        box-shadow:
            16px 16px 32px #d8b791,
            -16px -16px 32px #d8b791;
    }
</style>
