---
import HeaderButton from "./HeaderButton.astro";
import HeaderSeparator from "./HeaderSeparator.astro";
import WorkIcon from "../components/icons/WorkIcon.astro";
import StudyIcon from "./icons/StudyIcon.astro";
---

<header
    class="sticky bg-lightblack top-0 pt-4 px-4 w-full lg:py-8 flex flex-col justify-between items-center text-white font-mono z-10"
>
    <div class="mb-2">
        <h1 class="text-xl sm:text-3xl typewriter kode-mono-700"><strong>Joaquin Genova G.</strong></h1>
    </div>
    <div class="mb-3">
        <h2 class="text-md sm:text-md kode-mono-700"><strong>Desarrollador de Software</strong></h2>
    </div>
    <nav class="flex flex-row sm:gap-2 justify-center items-center text-center kode-mono-700">
        <HeaderButton href="#about-me">
            <span class="hidden md:inline">Sobre mi</span>
            <svg
                class="w-5"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#ffffff"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
                ></path>
                <path d="M12 9h.01"></path>
                <path d="M11 12h1v4h1"></path>
            </svg>
        </HeaderButton>
        <HeaderSeparator />
        <HeaderButton href="#projects">
            <span class="hidden md:inline">Proyectos</span>
            <svg
                class="w-5"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#ffffff"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M7 4a2 2 0 0 0 -2 2v3a2 3 0 0 1 -2 3a2 3 0 0 1 2 3v3a2 2 0 0 0 2 2"
                ></path>
                <path
                    d="M17 4a2 2 0 0 1 2 2v3a2 3 0 0 0 2 3a2 3 0 0 0 -2 3v3a2 2 0 0 1 -2 2"
                ></path>
            </svg>
        </HeaderButton>
        <HeaderSeparator />
        <HeaderButton href="#experience">
            <span class="hidden md:inline">Experiencia</span>
            <WorkIcon />
        </HeaderButton>
        <HeaderSeparator />
        <HeaderButton href="#studies">
            <span class="hidden md:inline">Estudios</span>
            <StudyIcon />
        </HeaderButton>
        <HeaderSeparator />
        <HeaderButton href="#cv">
            CV
            <svg class="w-5 hidden md:inline" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                <path d="M7 11l5 5l5 -5" />
                <path d="M12 4l0 12" />
            </svg>
        </HeaderButton>
    </nav>
    <div id="header-underline" class="w-screen h-[2px]"></div>
</header>

<style>
    @keyframes underline {
        0%   {background-color: var(--color-lightblack); left:0px; top:0px;}
        25%  {background-color: #6d6d6d; left:200px; top:200px;}
        50%  {background-color: #999; left:200px; top:200px;}
        75%  {background-color: #ccc; left:0px; top:200px;}
        100% {background-color: white; left:0px; top:0px;}
    }

    @media (prefers-reduced-motion: no-preference) {
        #header-underline {
            animation: underline 5s ease infinite;
        }
    }
    
    @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: scroll()) {
            #header-underline {
                animation: underline linear both;
                animation-timeline: scroll();
            }
        }
    }
    
    .typewriter {
        overflow: hidden; 
        border-right: .15em solid white; 
        white-space: nowrap; 
        margin: 0 auto;
        letter-spacing: .15em;
        animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white; }
    }
</style>
