---
import ReactIcon from '../components/icons/ReactIcon.astro'
import TailwindIcon from '../components/icons/TailwindIcon.astro'
import BootstrapIcon from '../components/icons/BootstrapIcon.astro'
import BashIcon from '../components/icons/BashIcon.astro'
import AstroIcon from '../components/icons/AstroIcon.astro'
import CSharpIcon from '../components/icons/CSharpIcon.astro'
import NodeJsIcon from '../components/icons/NodeJsIcon.astro'
import JavascriptIcon from '../components/icons/JavascriptIcon.astro'
import LinuxIcon from '../components/icons/LinuxIcon.astro'
import CSSIcon from '../components/icons/CSSIcon.astro'
import HTMLIcon from '../components/icons/HTMLIcon.astro'
import GolangIcon from '../components/icons/GolangIcon.astro'
import JavaIcon from '../components/icons/JavaIcon.astro'
import SpringIcon from '../components/icons/SpringIcon.astro'
import DockerIcon from '../components/icons/DockerIcon.astro'
import SQLIcon from '../components/icons/SQLIcon.astro'
import GitIcon from '../components/icons/GitIcon.astro'
import HeaderSeparator from './HeaderSeparator.astro'
import KotlinIcon from './icons/KotlinIcon.astro'
import RESTIcon from './icons/RESTIcon.astro'
import JSONIcon from './icons/JSONIcon.astro'
---

<section class="font-serif">
    <h2 class="text-5xl font-bold text-center text-white mb-10">Proyectos Destacados</h2>
    <p class="text-white text-center text-md">
        Aqui encontraras algunos de los proyectos que he realizado, algunos de ellos son personales y otros son proyectos de la universidad.
    </p>

    <div class="grid grid-cols-1 place-content-center mt-8 gap-5 lg:grid-cols-2">
        <article class="flex flex-col gap-3 items-center project-card">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">Mi Porfolio</h3>
                <p class="text-white mb-3 text-left">Una web elegante y minimalista para conocerme un poco mejor como Desarrolador. Podras encotrar informacion sobre mi, mis 
                    proyectos, mis estudios y mis experencia laboral.</p>
                <a href="https://joacohbc-porfolio.vercel.app" class="text-white inline-flex">
                    <span class="mr-1">Pages</span> 
                    <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5" />
                        <path d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73" />
                        <path d="M6 9l12 0" />
                        <path d="M6 12l3 0" />
                        <path d="M6 15l2 0" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <AstroIcon />
                <TailwindIcon/>
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center project-card">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">Goto</h3>
                <p class="text-white mb-3 text-left">Goto es un "Gestor de rutas" para CLI que permite gestionar rutas con identificadores (abreviatura o índice). Usando en conjunto con comando <span class="italic font-mono"></span> amplia mucho las capacadiad para moverse entre directorios via CLI.</p>
                <a href="https://github.com/Joacohbc/goto" class="text-white inline-flex">
                    <span class="mr-1">Github</span> 
                    <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M8 9l3 3l-3 3" />
                        <path d="M13 15l3 0" />
                        <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <GolangIcon />
                <JSONIcon />
                <BashIcon />
                <LinuxIcon />
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center project-card">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">DolphyText</h3>
                <p class="text-white mb-3 text-left">Es un bloc de notas con esteroides, basicamente un editro de texto enriquesido (RTF). Programe una version C# para Windows. Al yo ser usuario de Linux, tambien programe un version multiplataforma con Java (Java Swing).</p>
                <div>
                    <a href="https://github.com/Joacohbc/DolphyText" class="text-white inline-flex">
                        <span class="mr-1">C# Version</span> 
                        <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 3a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3" />
                            <path d="M6 3a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3" />
                            <path d="M13 7h7a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-7" />
                            <path d="M5 7h-1a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h1" />
                            <path d="M17 12h.01" />
                            <path d="M13 12h.01" />
                        </svg>
                    </a>
                    <span class="mx-2 text-white">/</span>
                    <a href="https://github.com/Joacohbc/jdolphytext" class="text-white inline-flex">
                        <span class="mr-1">Java Version</span> 
                        <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 3a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3" />
                            <path d="M6 3a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3" />
                            <path d="M13 7h7a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-7" />
                            <path d="M5 7h-1a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h1" />
                            <path d="M17 12h.01" />
                            <path d="M13 12h.01" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <CSharpIcon/>
                <JavaIcon />
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center project-card">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">Devences Project</h3>
                <p class="text-white mb-3 text-left">Proyecto final del Bachillerato Informatico de la UTU. Una aplicacion de escritorio con el objetivo de gstionar un hotel, 
                    desde el Login de los empleados, hasta los clientes, reservas, horarios y servicios.</p>
                <a href="https://github.com/Joacohbc/Devences" class="text-white inline-flex">
                    <span class="mr-1">Github</span> 
                    <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 21l18 0" />
                        <path d="M5 21v-14l8 -4v18" />
                        <path d="M19 21v-10l-6 -4" />
                        <path d="M9 9l0 .01" />
                        <path d="M9 12l0 .01" />
                        <path d="M9 15l0 .01" />
                        <path d="M9 18l0 .01" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <CSharpIcon/>
                <SQLIcon />
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center project-card">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">GOSF v2</h3>
                <p class="text-white mb-3 text-left">Servidor de archivos multi-usuario con autentificación con JWT al estilo de Google Drive. Con la capacidad de compartir archivos 
                    entre usuarios. Incialmente empezo como un proyecto sencillo con JS/CSS/HTML basico y fue migrado a React.js con Boostrap, ambos desarollos separados en ramas 
                    diferentes.
                
                    <ul class="text-white">
                        <li> - Version GOSFv2 React/Boostrap</li>
                        <li> - Version GOSFv2 HTML/CSS/JS</li>
                        <li> - Version GOSFv1 HTML/CSS/JS</li>
                    </ul>
                </p>
                <a href="https://github.com/Joacohbc/gosfv2" class="text-white inline-flex">
                    <span class="mr-1">Github</span> 
                    <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 10l-6 10l-3 -5l6 -10z" />
                        <path d="M9 15h12l-3 5h-12" />
                        <path d="M15 15l-6 -10h6l6 10z" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <ReactIcon />
                <BootstrapIcon />
                <GolangIcon />
                <DockerIcon />
                <RESTIcon />
                <SQLIcon />
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center project-card">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">Proyecto de Tecnicatura de UTEC</h3>
                <p class="text-white mb-3 text-left">Proyecto grupal para la Tecnicatura de UTEC. Es una aplicacion Cliente-Servidor el cual el servidor es consumido por 3 clientes diferentes. Además expone una REST API con autenticación JWT para la gestion 
                    de sesiones.
                    <ul class="text-white">
                        <li> - Una aplicacion de escritorio desarrollada con Java Swing</li>
                        <li> - Un servidor desarollado con Java EE / Hibernate / Java Beans</li>
                        <li> - Una aplicacion Web desarollada con JSF (Primefaces) </li>
                        <li> - Una aplicacion Mobile desarollada con Kotlin</li>
                        <br/>
                    </ul>
                </p>
                <a href="https://git.utec.edu.uy/joaquin.genova/techrandom-pft-2023.git" class="text-white inline-flex">
                    <span class="mr-1">GitLab</span> 
                    <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                        <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2" />
                        <path d="M14 10a2 2 0 1 0 -2 -2" />
                        <path d="M12 12a2 2 0 1 0 2 -2" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <JavaIcon/>
                <HTMLIcon />
                <CSSIcon />
                <KotlinIcon />
                <RESTIcon />
                <SQLIcon />
                <GitIcon />
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center san-valetin-page">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">San Valetin Page</h3>
                <p class="text-white mb-3 text-left">Un pequeño minijuego para desconglear el frio corazon de mi Crush. Tengo 8 Vidas, 8 NO's y un unico SI, pero mucho mucho rosa, gatitos y corazones.</p>
                <a href="https://joacohbc.github.io/yxj-valentines-day/" class="text-white inline-flex">
                    <span class="mr-1">Pages</span> 
                    <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <ReactIcon />
                <TailwindIcon/>
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center project-card">
            <div class="flex flex-col gap-2 justify-center items-start">
                <h3 class="text-2xl font-bold text-white">Alkemy challenge-java</h3>
                <p class="text-white mb-3 text-left">Proyecto para el Challenge de Alkemy de Pre-Aceleracion Agosto 2022.</p>
                <a href="https://github.com/Joacohbc/challenge-java" class="text-white inline-flex">
                    <span class="mr-1">Github</span> 
                    <svg class="w-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M11 18.004h-4.343c-2.572 -.004 -4.657 -2.011 -4.657 -4.487c0 -2.475 2.085 -4.482 4.657 -4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 1c1.488 1.19 2.162 3.007 1.77 4.769h.99a3.468 3.468 0 0 1 3.307 2.444" />
                        <path d="M20 21l2 -2l-2 -2" />
                        <path d="M17 17l-2 2l2 2" />
                    </svg>
                </a>
            </div>
            <div class="flex flex-wrap flex-row text-white gap-3 justify-center">
                <JavaIcon />
                <SpringIcon />
                <RESTIcon />
            </div>
        </article>

        <article class="flex flex-col gap-3 items-center lg:col-span-2 other-project">
            <div class="flex flex-row gap-2 justify-center items-start">
                <a href="https://github.com/Joacohbc" class="text-white inline-flex">
                    <h3 class="text-2xl font-bold text-white">Otros Proyectos</h3>
                </a>
                <svg class="w-8" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                </svg>
            </div>
        </article>

    </div>
</section>

<style>
    .san-valetin-page {
        border: 1px solid #3ca2eb;    
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--color-bg-darkblack);
    }

    .san-valetin-page:hover {    
        border: 1px solid #dd8dd9;
        filter: drop-shadow(0 0 5px #dd8dd9); 
        transition: color 0.3s;
    }
    
    .san-valetin-page > a:hover {    
        filter: drop-shadow(0 0 5px #f1bcef);
        text-decoration: underline; 
        transition: color 0.3s;
    }

    .project-card {
        border: 1px solid #3ca2eb;    
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--color-bg-darkblack);
    }

    .project-card:hover {    
        filter: drop-shadow(0 0 5px #3ca2eb); 
        transition: color 0.3s;
    }
    
    .other-project {
        filter: drop-shadow(0 0 5px #f53030);
        transition: color 0.3s;
    }

    a :hover {    
        filter: drop-shadow(0 0 5px #f53030);
        text-decoration: underline; 
        transition: color 0.3s;
    }
</style>