<div class="text-white grid grid-flow-row grid-cols-3 content-center gap-3 lg:flex lg:flex-row lg:items-center lg:justify-center lg:gap-5 mt-5">
    <div class="flex flex-col justify-center items-center text-center icon">
        <svg class="w-7 sm:w-10" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
            <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
        </svg>
        <span>Team Work</span>
    </div>
    <div class="flex flex-col justify-center items-center text-center icon">
        <svg class="w-7 sm:w-10" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1" />
        </svg>
        <span>Problem-solving</span>
    </div>
    <div class="flex flex-col justify-center items-center text-center icon">
        <svg class="w-7 sm:w-10" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 4.55a8 8 0 0 0 -6 14.9m0 -4.45v5h-5" />
            <path d="M18.37 7.16l0 .01" />
            <path d="M13 19.94l0 .01" />
            <path d="M16.84 18.37l0 .01" />
            <path d="M19.37 15.1l0 .01" />
            <path d="M19.94 11l0 .01" />
        </svg>
        <span>Adaptabilidad</span>
    </div>
    <div class="flex flex-col justify-center items-center text-center icon col-span-3">
        <svg class="w-7 sm:w-10" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 13m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
            <path d="M12 10l0 3l2 0" />
            <path d="M7 4l-2.75 2" />
            <path d="M17 4l2.75 2" />
        </svg>
        <span>Gestión del Tiempo</span>
    </div>
</div>

<style>
    .icon:hover {
        filter: drop-shadow(0 0 5px #00f2ff); 
        transition: color 0.3s;
    }
</style>