---
import ReactIcon from '../components/icons/ReactIcon.astro'
import TailwindIcon from '../components/icons/TailwindIcon.astro'
import NodeJsIcon from '../components/icons/NodeJsIcon.astro'
import JavascriptIcon from '../components/icons/JavascriptIcon.astro'
import CSSIcon from '../components/icons/CSSIcon.astro'
import HTMLIcon from '../components/icons/HTMLIcon.astro'
import GolangIcon from '../components/icons/GolangIcon.astro'
import JavaIcon from '../components/icons/JavaIcon.astro'
import SpringIcon from '../components/icons/SpringIcon.astro'
import DockerIcon from '../components/icons/DockerIcon.astro'
import SQLIcon from '../components/icons/SQLIcon.astro'
import GitIcon from '../components/icons/GitIcon.astro'
import RESTIcon from '../components/icons/RESTIcon.astro'
import JSONIcon from '../components/icons/JSONIcon.astro'
---

<div class="text-white grid grid-flow-row grid-cols-3 content-center gap-3 lg:flex lg:flex-row lg:items-center lg:justify-center lg:gap-5 mt-5 mb">
    <ReactIcon />
    <TailwindIcon />
    <NodeJsIcon />
    <div class="flex flex-wrap flex-row justify-center items-center gap-1 p-2 border rounded">
        <JavascriptIcon />
        <CSSIcon />
        <HTMLIcon />
    </div>
    <GolangIcon />
    <div class="flex flex-wrap flex-row justify-center items-center gap-1 p-2 border rounded">
        <JavaIcon />
        <SpringIcon />
    </div>
    <DockerIcon />
    <SQLIcon />
    <RESTIcon />
    <JSONIcon />
    <GitIcon />
</div>