---
import ReactIcon from '../components/icons/ReactIcon.astro'
import TailwindIcon from '../components/icons/TailwindIcon.astro'
import NodeJsIcon from '../components/icons/NodeJsIcon.astro'
import JavascriptIcon from '../components/icons/JavascriptIcon.astro'
import CSSIcon from '../components/icons/CSSIcon.astro'
import HTMLIcon from '../components/icons/HTMLIcon.astro'
import GolangIcon from '../components/icons/GolangIcon.astro'
import JavaIcon from '../components/icons/JavaIcon.astro'
import SpringIcon from '../components/icons/SpringIcon.astro'
import DockerIcon from '../components/icons/DockerIcon.astro'
import SQLIcon from '../components/icons/SQLIcon.astro'
import GitIcon from '../components/icons/GitIcon.astro'
import LinuxIcon from '../components/icons/LinuxIcon.astro'
import SalesforceIcon from '../components/icons/SalesforceIcon.astro'
---

<div class="text-white grid grid-flow-row grid-cols-3 content-center gap-5 sm:grid-cols-4 xl:flex xl:flex-row xl:items-center xl:justify-center mt-5">
    <ReactIcon />
    <TailwindIcon />
    <GitIcon />
    <JavascriptIcon />
    <CSSIcon />
    <HTMLIcon />
    <JavaIcon />
    <SpringIcon />
    <GolangIcon />
    <DockerIcon />
    <SQLIcon />
    <LinuxIcon />
    <div class="col-span-3 sm:col-span-4">
        <SalesforceIcon />
    </div>
</div>