---
import ReactIcon from '../components/icons/ReactIcon.astro'
import TailwindIcon from '../components/icons/TailwindIcon.astro'
import NodeJsIcon from '../components/icons/NodeJsIcon.astro'
import JavascriptIcon from '../components/icons/JavascriptIcon.astro'
import CSSIcon from '../components/icons/CSSIcon.astro'
import HTMLIcon from '../components/icons/HTMLIcon.astro'
import GolangIcon from '../components/icons/GolangIcon.astro'
import JavaIcon from '../components/icons/JavaIcon.astro'
import SpringIcon from '../components/icons/SpringIcon.astro'
import DockerIcon from '../components/icons/DockerIcon.astro'
import SQLIcon from '../components/icons/SQLIcon.astro'
import GitIcon from '../components/icons/GitIcon.astro'
import LinuxIcon from '../components/icons/LinuxIcon.astro'
import SalesforceIcon from '../components/icons/SalesforceIcon.astro'
---

<div class="font-serif flex flex-col justify-center items-center gap-3">
    <div class="text-white flex gap-5 flex-wrap flex-row items-center justify-center mt-5">
        <ReactIcon />
        <TailwindIcon />
        <GitIcon />
        <JavascriptIcon />
        <CSSIcon />
        <HTMLIcon />
        <JavaIcon />
        <SpringIcon />
        <GolangIcon />
        <DockerIcon />
        <SQLIcon />
        <LinuxIcon />
        <SalesforceIcon />
    </div>
    <a aria-label="Ver habilidades" href="/skills"  class="hover:drop-shadow-[0_0_5px_rgba(60,162,235,1)]">
        <svg aria-hidden="true" class="w-10 stroke-white" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 11l8 3l8 -3" />
        </svg>
    </a>
</div>