---
import ReactIcon from '../components/icons/ReactIcon.astro'
import TailwindIcon from '../components/icons/TailwindIcon.astro'
import NodeJsIcon from '../components/icons/NodeJsIcon.astro'
import JavascriptIcon from '../components/icons/JavascriptIcon.astro'
import CSSIcon from '../components/icons/CSSIcon.astro'
import HTMLIcon from '../components/icons/HTMLIcon.astro'
import GolangIcon from '../components/icons/GolangIcon.astro'
import JavaIcon from '../components/icons/JavaIcon.astro'
import SpringIcon from '../components/icons/SpringIcon.astro'
import DockerIcon from '../components/icons/DockerIcon.astro'
import SQLIcon from '../components/icons/SQLIcon.astro'
import GitIcon from '../components/icons/GitIcon.astro'
import LinuxIcon from '../components/icons/LinuxIcon.astro'
import SalesforceIcon from '../components/icons/SalesforceIcon.astro'
---

<div class="text-white grid grid-flow-row grid-cols-3 content-center gap-5 lg:flex lg:flex-row lg:items-center lg:justify-center mt-5">
    <ReactIcon />
    <TailwindIcon />
    <div class="flex flex-wrap flex-row justify-center items-center gap-1 p-2 border rounded">
        <JavascriptIcon />
        <CSSIcon />
        <HTMLIcon />
    </div>
    <div class="flex flex-wrap flex-row justify-center items-center gap-1 p-2 border rounded">
        <JavaIcon />
        <SpringIcon />
    </div>
    <GolangIcon />
    <DockerIcon />
    <SQLIcon />
    <GitIcon />
    <LinuxIcon />
    <div class="max-lg:col-span-3">
        <SalesforceIcon />
    </div>
</div>