---
import TechIcons from '../components/TechIcons.astro';
import SoftSkills from '../components/SoftSkills.astro';
import Social from '../components/Social.astro';
import Heart from '../components/threejs/Heart.astro';

---
<div class="font-serif">
    <div class="flex flex-row gap-4 justify-center items-center">
        <h1 class="text-5xl font-bold text-center mt-5 mb-4 text-white">Sobre mí</h1>
        <svg class="w-12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
            <path d="M12 9h.01"></path>
            <path d="M11 12h1v4h1"></path>
        </svg>
    </div>
    <div class="flex flex-col-reverse items-center justify-center mb-10 gap-3 2xl:flex-row md:mx-24 2xl:mx-0">
        <div class="flex flex-col gap-3 text-white text-center text-balance text-lg md:text-xl xl:text-md 2xl:text-2xl selection:bg-blue-700">             
            <p>
                ¡Hola! Soy Joaquín, un <span class="keywords">Técnico Superior en TI.</span> Mi <span class="keywords">pasión</span> y <span class="keywords">curiosidad</span> 
                me impulsan a estar al día con las últimas tecnologías y aprender cosas nuevas constantemente. 
            </p>
            <p>
                Me caracterizo por ser <span class="keywords">responsable</span>, <span class="keywords">comprometido</span>,
                <span class="keywords">ordenado</span> y detallista a la hora de trabajar de forma grupal o individual. Mi capacidad de aprendizaje rápido 
                y mejora constante me distinguen. Siempre estoy en busca de desafíos con entusiasmo y un deseo constante de aprender, con el objetivo de crecer tanto profesional
                como personalmente.
            </p>
            <p>
                Actualmente estoy estudiando una <a class="keywords" href="https://utec.edu.uy/es/educacion/carrera/licenciatura-en-tecnologias-de-la-informacion/" target="_blank">Licenciatura en TI</a> en la Universidad Tecnológica del Uruguay (UTEC), además de ampliar mis conocimientos de 
                manera <span class="keywords">autodidacta</span> mediante cursos online, con documentación oficial y proyectos personales. Enfocando mis estudios en <span class="keywords">Salesforce</span> y desarrollo de
                <span class="keywords">Full-Stack</span> en lenguajes como <span class="keywords">Java</span>, <span class="keywords">Go</span>,
                <span class="keywords">JavaScript</span> y bases de datos con <span class="keywords">SQL y NoSQL.</span>
                También me interesa el área de Infraestructura, Cloud Computing, Linux, IA, entre otras. 
            </p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <img src="/images/photo.webp" class="rounded-full max-w-xs lg:max-w-md mb-5" alt="Foto de Perfil">         
            <div class="inline-flex gap-1 ">
                <a aria-label="Ubicación: Montevideo, Uruguay" class="text-center text-white keywords text-lg" href="https://maps.app.goo.gl/FaGkXJHMDKN7tiDj7" target="_blank">Montevideo, Uruguay</a>
                <svg class="w-5"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                </svg>
            </div>
            <Social/>
        </div>
    </div>
    <h1 class="text-3xl font-bold text-center mb-4 text-white">Tecnologías</h1>
    <TechIcons/>

    <!-- TODO: Agregar Ingles como SoftSkill -->
    <h1 class="text-3xl font-bold text-center mt-12 text-white">Soft Skills</h1>
    <SoftSkills/>

    <Heart client:load/>
</div>

<style>
    .keywords {
        @apply 
        drop-shadow-[0_0_5px_rgba(60,162,235,1)]
        inline-block
        underline
        font-bold;
    }

    .keywords:hover {
        @apply
        underline
        drop-shadow-[0_0_5px_rgba(235,139,60,1)]
        after:rounded-lg
        after:animate-fade
        after:animate-duration-500
        after:absolute
        after:-inset-0
        after:p-3
        after:bg-[#11192C]
        after:blur-md
        after:-z-50;
    }
</style>
