---
import TechIcons from '../components/TechIcons.astro';
import SoftSkills from '../components/SoftSkills.astro';
import Social from '../components/Social.astro';
---
<!-- 
    TODO: Podria comentar que me gusta crear resumenes (Mostrar el de Salesforce, el de Javascript, HTTP, Backend, etc)
-->
<section class="font-serif">
    <h1 class="text-5xl font-bold text-center mt-5 mb-4 text-white">Sobre mí</h1>
    <div class="flex flex-col-reverse items-center justify-center mb-10 gap-2 xl:flex-row">
        <div class="flex flex-col gap-3 text-xl 2xl:text-2xl text-white text-center text-balance xl:text-left">
            <p>
                ¡Hola! Soy Joaquín, un entusiasta de la tecnología desde los 15 años. Mi <span class="font-bold underline shadow-border">pasión</span> y <span class="font-bold underline shadow-border">curiosidad</span> 
                me impulsan a estar al día con las últimas tecnológias y aprender cosas nuevas constantemente.
            </p>
            <p>
                Me caracterizo por ser una persona <span class="underline"><span class="font-bold shadow-border">responsable</span>, <span class="font-bold shadow-border">comprometida</span>, <span class="font-bold shadow-border">ordenada</span></span> 
                y detallista a la hora de trabajar de forma grupal o individual. Mi capacidad de aprendizaje rápido y mejora constante me distinguen.
                Siempre estoy en busca de desafíos con entusiasmo y un deseo constante de aprender, con el objetivo de crecer tanto profesional como personalmente.
            </p>
            <p>
                Actualmente estoy estudiando una <span class="font-bold underline shadow-border">Licenciatura en TI</span> en la Universidad Tecnológica del Uruguay (UTEC), además de ampliar mis conocimientos de 
                manera <span class="font-bold underline shadow-border">autodidacta</span> mediante cursos online, con documentación oficial y proyectos personales. Enfocando mis estudios en el desarrollo 
                <span class="font-bold underline shadow-border">Full-Stack</span> en lenguajes como <span class="underline"><span class="font-bold shadow-border">Java</span>, <span class="font-bold shadow-border">Go</span>, 
                <span class="font-bold shadow-border">JavaScript</span></span> y bases de datos con <span class="font-bold underline shadow-border">SQL</span>.
                También me interesa el área de infraestructura, Linux, IA, entre otras. 
            </p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <img src="/images/photo.webp" class="rounded-full max-w-xs lg:max-w-md mb-5" alt="Foto de Perfil">         
            <div class="inline-flex gap-1 shadow-border">
                <a class="text-center text-white text-lg" href="https://maps.app.goo.gl/FaGkXJHMDKN7tiDj7" target="_blank">Montevideo, Uruguay</a>
                <svg class="w-5"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                </svg>
            </div>
            <Social/>
        </div>
    </div>
    <h1 class="text-3xl font-bold text-center mb-4 text-white">Tecnologías</h1>
    <TechIcons/>
    <h1 class="text-3xl font-bold text-center mt-12 text-white">Soft Skills</h1>
    <SoftSkills/>
</section>

<style>
    .shadow-border {
        filter: drop-shadow(0 0 5px #3ca2eb); 
        transition: color 0.3s;
    }
    .shadow-border:hover {
        filter: drop-shadow(0 0 5px #eb8b3c); 
        transition: color 0.3s;
    }
</style>
