---
import ProjectCard from "../components/ExperienceCard.astro";
import StudyIcon from "../components/icons/StudyIcon.astro";
import WorkIcon from "../components/icons/WorkIcon.astro";
---

<div class="font-serif">
    <div class="flex flex-row gap-4 justify-center items-center mb-5">
        <h1 class="text-5xl font-bold text-center text-white">Trayectoria</h1>
        <svg class="w-12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 20m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
            <path d="M10 20h-6"></path>
            <path d="M14 20h6"></path>
            <path d="M12 15l-2 -2h-3a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-3l-2 2z"></path>
            <path d="M9 6h6"></path>
            <path d="M9 9h3"></path>
        </svg>
    </div>

    <div class="flex flex-col">
        <div class="flex flex-row justify-self-start items-center sm:justify-center gap-1 ml-1 my-1">
            <div>
                <svg class="w-6 sm:hidden" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 14l-2 -2l2 -2" />
                    <path d="M14 10l2 2l-2 2" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                </svg>
            </div>
            <div class="text-white sm:text-white text-2xl font-bold">2019</div>
        </div>
        <ProjectCard month="Enero" name="Bachillerato Tecnológico" from="UTU" side="left">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Inicio de estudios en el Bachillerato Tecnológico de la
                UTU. Donde aprendí las bases de la programación, bases
                de datos, redes, sistemas operativos y hardware.
            </p>
        </ProjectCard>

        <div class="flex flex-row justify-self-start items-center sm:justify-center gap-1 ml-1 my-1">
            <div>
                <svg class="w-6 sm:hidden" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 14l-2 -2l2 -2" />
                    <path d="M14 10l2 2l-2 2" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                </svg>
            </div>
            <div class="text-white sm:text-white text-2xl font-bold">2021</div>
        </div>
        <ProjectCard month="Diciembre" name="Bachillerato Tecnológico" from="UTU" side="right">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Fin de estudios en el Bachillerato Tecnológico de la
                UTU. Con la defensa de un proyecto multidisciplinario a
                lo largo de todo el año.
            </p>
        </ProjectCard>
        <ProjectCard month="Diciembre" name="Preliminary English Test - B1" from="Cambridge" side="right">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Aprobación del examen de inglés Preliminary English Test - B1 de Cambridge.
            </p>
        </ProjectCard>

        <div class="flex flex-row justify-self-start items-center sm:justify-center gap-1 ml-1 my-1">
            <div>
                <svg class="w-6 sm:hidden" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 14l-2 -2l2 -2" />
                    <path d="M14 10l2 2l-2 2" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                </svg>
            </div>
            <div class="text-white sm:text-white text-2xl font-bold">2022</div>
        </div>
        <ProjectCard month="Marzo" name="Licenciatura en TI" from="UTEC" side="left">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Inicio de estudios en la Licenciatura en Tecnologías de
                la Información de la UTEC. Donde me anote con el objetivo de profundizar en mis
                conocimientos en programación, redes, sistemas
                operativos, hardware, bases de datos, seguridad
                informática, testing y desarrollo de web.
            </p>
        </ProjectCard>
        <ProjectCard month="Julio" name="Caso de Estudio" from="UTEC" side="left">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Proyecto que consistió en el análisis, diseño e
                implementación de un sistema de información para una
                empresa real (Casos de Uso, Req. Funcionales y No
                Funcionales, Suite de Pruebas).
            </p>
        </ProjectCard>
        <ProjectCard month="Agosto" name="Pre-acleracion de Java Backend" from="Alkemy" side="left">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Pre-aceleración de Java Backend en Alkemy. Un proyecto individual donde
                aprendí sobre sobre Spring Boot, Hibernate, JPA, Maven, JWT, etc implementando una FULL API REST
                sobre peliculas y personajes de Disney.
            </p>
        </ProjectCard>
        <ProjectCard month="Diciembre" name="Proyecto de Desarrollo y Testing" from="UTEC" side="left">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Proyecto que consistió en la implementación del sistema
                de información, en una aplicación cliente-servidor (MVC) para
                Escritorio, diseñado en el Caso de Estudio.
            </p>
        </ProjectCard>
        <ProjectCard month="Diciembre" name="IT Trainee" from="TCS" side="left">
            <WorkIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Inicio de pasantía en Tata Consultancy Services, donde
                aprendí sobre el desarrollo en la plataforma de
                Salesforce.
            </p>
        </ProjectCard>

        <div class="flex flex-row justify-self-start items-center sm:justify-center gap-1 ml-1 my-1">
            <div>
                <svg class="w-6 sm:hidden" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 14l-2 -2l2 -2" />
                    <path d="M14 10l2 2l-2 2" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                </svg>
            </div>
            <div class="text-white sm:text-white text-2xl font-bold">2023</div>
        </div>
        <ProjectCard month="Abril" name="Platform Developer I" from="TCS" side="right">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Preparación y aprobación de la Plataform Developer I de
                Salesforce.
            </p>
        </ProjectCard>
        <ProjectCard month="Julio" name="Proyecto de Infraestructura" from="UTEC" side="right">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Proyecto que consistió en el diseño de una
                infraestructura (Direccionamiento, Servidores Virtuales,
                Dominio de Active Directory, Demo en GSN3). Además de la
                implementación del Frontend con JSF como cliente (con el patrón MVC) del
                servidor desarrollado en el Proyecto de Desarrollo y
                Testing.
            </p>
        </ProjectCard>
        <ProjectCard month="Agosto" name="Salesforce Developer" from="TCS" side="right">
            <WorkIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Ingreso al proyecto en la plataforma de Salesforce
            </p>
        </ProjectCard>
        <ProjectCard month="Diciembre" name="Proyecto Final de Tecnicatura" from="UTEC" side="right">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Proyecto que fue la continuación del Proyecto de
                Infraestructura. Donde se agregó la implementación: un
                aplicativo Mobile con Kotlin (que consumia REST), implementación virtual de
                servidores DNS, DHCP, AD y Firewall en GNS3.
            </p>
        </ProjectCard>
        <ProjectCard month="Diciembre" name="JavaScript Certification" from="TCS" side="right">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-md md:text-lg">
                Preparación y aprobación de la JavaScript Developer I de
                Salesforce.
            </p>
        </ProjectCard>

        <div class="flex flex-row justify-self-start items-center sm:justify-center gap-1 ml-1 my-1">
            <div>
                <svg class="w-6 sm:hidden" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 14l-2 -2l2 -2" />
                    <path d="M14 10l2 2l-2 2" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                </svg>
            </div>
            <div class="text-white sm:text-white text-2xl font-bold">2024</div>
        </div>
        <ProjectCard month="Mayo" name="Titulación de Tecnicatura" from="UTEC" side="left">
            <StudyIcon slot="icon" />
            <p slot="description" class="text-lg lg:text-xl">
                Evento de entrega de título de Tecnicatura en
                Tecnologías de la Información.
            </p>
        </ProjectCard>
    </div>
</div>

<style></style>
