<div class="flex flex-col justify-center items-center ds-icon">
    <svg class="w-12 md:w-10" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8" />
        <path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5" />
    </svg> 
    <span class="text-xs">Data</span>
    <span class="text-xs">Science</span>
</div>

<style>
    .ds-icon {
        filter: drop-shadow(0 0 5px #0051ff); 
        transition: color 0.3s;
    }

    .ds-icon:hover {
        @apply
        after:rounded-md
        after:transition-transform
        after:animate-fade
        after:animate-duration-500
        after:absolute
        after:-inset-0
        after:p-4
        after:bg-[#11192C]
        after:blur-md
        after:-z-50;
    }

    .ds-icon:hover > svg { 
        @apply animate-wiggle-more animate-once animate-ease-linear;
    }

    .ds-icon:hover > svg > path:first-child {
        @apply stroke-[#0051ff] fill-[#0051ff];
    }

    .ds-icon:hover > svg > path:last-child {
        @apply stroke-[#0051ff] fill-[#0051ff];
    }
</style>