<div class="flex flex-col justify-center items-center json-icon">
    <svg class="w-12 md:w-10" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M7 4a2 2 0 0 0 -2 2v3a2 3 0 0 1 -2 3a2 3 0 0 1 2 3v3a2 2 0 0 0 2 2" />
        <path d="M17 4a2 2 0 0 1 2 2v3a2 3 0 0 0 2 3a2 3 0 0 0 -2 3v3a2 2 0 0 1 -2 2" />
    </svg>
    <span>JSON</span>
</div>

<style>
    .json-icon {
        filter: drop-shadow(0 0 5px #ffdf4f);
        transition: color 0.3s;
    }

    .json-icon:hover {
        @apply
        after:rounded-md
        after:transition-transform
        after:animate-fade
        after:animate-duration-500
        after:absolute
        after:-inset-0
        after:p-4
        after:bg-[#11192C]
        after:blur-md
        after:-z-50;
    }

    .json-icon:hover > svg { 
        @apply animate-wiggle-more animate-once animate-ease-linear stroke-[#ffdf4f];
    }
</style>


