<div class="flex flex-col justify-center items-center kotlin-icon">
    <svg class="w-12 md:w-10" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20 20h-16v-16h16" />
        <path d="M4 20l16 -16" />
        <path d="M4 12l8 -8" />
        <path d="M12 12l8 8" />
    </svg>
    <span>Kotlin</span>
</div>

<style>
    .kotlin-icon {
        filter: drop-shadow(0 0 5px #8d48fc); 
        transition: color 0.3s;
    }

    .kotlin-icon:hover {
        @apply
        after:rounded-md
        after:transition-transform
        after:animate-fade
        after:animate-duration-500
        after:absolute
        after:-inset-0
        after:p-4
        after:bg-[#11192C]
        after:blur-md
        after:-z-50;
    }

    .kotlin-icon:hover > svg { 
        @apply animate-wiggle-more animate-once animate-ease-linear stroke-[#C100E7];
    }
</style>