<div class="flex flex-col justify-center items-center ml-icon">
    <svg class="w-12 md:w-10" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 19a2 2 0 0 0 2 2c2 0 2 -4 3 -9s1 -9 3 -9a2 2 0 0 1 2 2" />
        <path d="M5 12h6" />
        <path d="M15 12l6 6" />
        <path d="M15 18l6 -6" />
    </svg>
    <span class="text-xs">Machine</span>
    <span class="text-xs">Learning</span>
</div>

<style>
    .ml-icon {
        filter: drop-shadow(0 0 5px #66d91f); 
        transition: color 0.3s;
    }

    .ml-icon:hover {
        @apply
        after:rounded-md
        after:transition-transform
        after:animate-fade
        after:animate-duration-500
        after:absolute
        after:-inset-0
        after:p-4
        after:bg-[#11192C]
        after:blur-md
        after:-z-50;
    }

    .ml-icon:hover > svg { 
        @apply animate-wiggle-more animate-once animate-ease-linear stroke-[#66d91f];
    }
</style>