<div class="flex flex-col justify-center items-center python-icon">
    <svg class="w-12 md:w-10" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 9h-7a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h3" class="py-icon-blue" />
        <path d="M12 15h7a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-3" class="py-icon-yellow"/>
        <path d="M8 9v-4a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v5a2 2 0 0 1 -2 2h-4a2 2 0 0 0 -2 2v5a2 2 0 0 0 2 2h4a2 2 0 0 0 2 -2v-4" class="py-icon-yellow"/>
        <path d="M8 9v-4a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v5a2 2 0 0 1 -2 2h-4a2 2 0 0 0 -2 2v3a2" class="py-icon-blue"/>  
        <path d="M11 6l0 .01" />
        <path d="M13 18l0 .01" />
    </svg>
    <span>Python</span>
</div>

<style>
    .python-icon {
        filter: drop-shadow(0 0 5px #fde047);
        transition: color 0.3s;
    }

    .python-icon:hover {
        @apply
        after:rounded-md
        after:transition-transform
        after:animate-fade
        after:animate-duration-500
        after:absolute
        after:-inset-0
        after:p-4
        after:blur-md
        after:-z-50;
    }

    .python-icon:hover > svg { 
        @apply animate-wiggle-more animate-once animate-ease-linear;
    }
    
    .python-icon:hover > svg > path.py-icon-blue { 
        @apply stroke-none fill-blue-500;
    }

    .python-icon:hover > svg > path.py-icon-yellow {
        @apply stroke-none fill-yellow-300;
    }
</style>


