---
import Header from "../components/Header.astro";
import SpeadInsights from "@vercel/speed-insights/astro";

interface Props {
	title?: string;
	header?: boolean;
	index?: boolean;
}

const {
	title = "Porfolio de Joaquin G.",
	header = true,
	index = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<meta
			name="description"
			content="Porfolio de Joaquin Genova, un apasionado Desarrollador de Software y Técnico Superior en TI"
		/>
		<link rel="icon" href="/favicon.ico" />
		{index && <meta name="robots" content="index, follow" />}

		<link rel="canonical" href="https://joaquingenova.dev" />
		<link rel="alternate" href="https://joaquingenova.dev" hreflang="es" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://joaquingenova.dev" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Porfolio de Joaquin Genova" />
		<meta
			property="og:description"
			content="Porfolio de Joaquin Genova, un apasionado Desarrollador de Software y Técnico Superior en TI"
		/>

		<!-- <meta property="og:image" content=""> -->
		<meta property="og:site_name" content="Porfolio de Joaquin Genova" />
		<meta property="og:locale" content="es_ES" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="joaquingenova.dev" />
		<meta property="twitter:url" content="https://joaquingenova.dev" />
		<meta name="twitter:title" content="Porfolio de Joaquin Genova" />
		<meta
			name="twitter:description"
			content="Porfolio de Joaquin Genova, un apasionado Desarrollador de Software y Técnico Superior en TI"
		/>
		<!-- <meta name="twitter:image" content=""> -->

		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="bg-lightblack">
		{header && <Header />}
		<div class="w-10/12 md:w-8/12 mx-auto">
			<slot />
		</div>
		<SpeadInsights />
	</body>
</html>

<style is:global>
	:root {
		--color-bg-lightblack: #131313;
		--color-bg-darkblack: #0f0f0f;
	}

	html {
		scroll-behavior: smooth;
		overflow-x: hidden;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	@font-face {
		font-family: "Anta";
		src: url("/fonts/Anta-Regular.woff2");
	}

	.font-anta {
		font-family: "Anta", sans-serif;
	}

	@font-face {
		font-family: "Noto Sans";
		src: url("/fonts/NotoSansMono.woff2");
	}

	.font-noto-sans {
		font-family: "Noto Sans", monospace;
	}
</style>
